{% extends "./page.html" %}
{% block title %}{{ "SUMMARY"|t }}{% endblock %}
{% macro articles(_articles) %}
{% for article in _articles %}
<a href="{{ article.path|contentURL }}{{ article.anchor }}">
</a>
{% if article.articles.length > 0 %}
{{ articles(article.articles) }}
{% endif %}
{% endfor %}
{% endmacro %}
{% block page %}
<div class="section toc">
<h1>{{ "SUMMARY"|t }}</h1>
{% for part in summary.parts %}
{{ articles(part.articles) }}
{% endfor %}
<ol>
<li>
<span class="inner">
<a href="index.html">1 aaa</a>
<span class="page">3</span>
</span>
</span>
</li>
<li>
<span class="inner">
<a href="00-休暇の申請（サンプル）/index.html">2 休暇の申請</a>
<span class="page">4</span>
</span>
</span>
</li>
<ol>
<li>
<span class="inner">
<a href="00-休暇の申請（サンプル）/01-休暇を申請する.html">2.1 休暇を申請する</a>
<span class="page">5</span>
</span>
</span>
</li>
<li>
<span class="inner">
<a href="00-休暇の申請（サンプル）/02-休暇の計画を申請する.html">2.2 休暇の計画を申請する</a>
<span class="page">10</span>
</span>
</span>
</li>
</ol>
</div>
{% endblock %}